@import "tailwindcss";

@theme{
    --color-primary: #F4F4FDB7;
    --color-secondary: #1E2A47;
}

@media (prefers-color-scheme: light) {
    div > a {
        border: 1px solid #F4F4FDB7;
        box-shadow: 0px 0px 2px 0px;
    }
}